requests==2.22.0
confluent-kafka==1.0.1
click==7.0
coverage==4.5.4
python-dateutil==2.8.0
django==2.2.5
django-money==0.15
model_mommy==1.6.0
django-hashid-field==2.1.6
python3-json-log-formatter==1.6.1
